/*-----------------------*/
/* friendlyErrOut.css */
/*-----------------------*/
body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e9eb;
}
.row {
  margin-bottom: 0.9rem;
  margin-left: 0.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h3 {
  margin: 0;
  font-weight: 400;
}

#message {
  margin: 0.09rem;
  color: #dd0000;
}

.main {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e9eb;
  padding: 1rem;
  border-radius: 5px;
}

fieldset {
  border-radius: 5px;
}

label {
  display: inline;
}

input {
  display: inline;
  margin-bottom: 0.5rem;
}

button {
  display: inline;
}

#completed {
  color: green;
}
